/* custom.css */

/*
This CSS ensures that the buttons in a dbc.ButtonGroup are
styled correctly to look like a single, seamless component.
*/

/* Ensures the buttons within a btn-group have square corners */
.btn-group .btn {
    border-radius: 0;
}

/* Ensures the border alignment is correct */
.btn-group .btn:not(:first-child) {
    margin-left: -1px;
}

.btn-group .btn:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.btn-group .btn:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}


.wideDrop .Select-menu-outer {
     width: 600px;
     overflow: visible;
     z-index: 1000;
     box-sizing: border-box;
}

a:hover {
cursor: pointer;
}
