/* custom.css */

/*
This CSS ensures that the buttons in a dbc.ButtonGroup are
styled correctly to look like a single, seamless component.
*/
.btn-group .btn {
  border-radius: 0;
}

.btn-group .btn:not(:first-child) {
  margin-left: -1px;
}

.btn-group .btn:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.btn-group .btn:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
